In [14]:
import pandas as pd

In [22]:
data = pd.read_csv("C:/athlete_events.csv")

In [23]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [51]:
# 1:How old were the youngest male and female participants of the 1996 Olympics?

p = data[data.Year == 1996][data.Sex == 'M'][['Sex', 'Age']].min()
print(p)

Sex     M
Age    14
dtype: object

C:\Users\pavel\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [71]:
#2 What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.
g = data[data.Sex == 'M'][data.Sport=='Gymnastics'][data.Year == 2000][['Name']].count()
k = data[data.Sex == 'M'][data.Year == 2000][['Name']].count()
j = g / k * 100
print(j)

C:\Users\pavel\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\pavel\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Name    7.651967
dtype: float64

In [77]:
#3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.
k = data[data.Sex == 'F'][data.Sport == 'Basketball'][data.Year == 2000][['Height']]
print(k.mean(), k.std())

Height    182.387324
dtype: float64 Height    9.139462
dtype: float64

C:\Users\pavel\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [188]:
#4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. 
# What sport did he or she do? 

max_weight = data[data.Year == 2002]['Weight'].max()
res = data[data.Weight == max_weight][data.Year == 2002][['Name','Sport', 'Weight']]

res

C:\Users\pavel\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

                    Name      Sport  Weight
99154  Emmanuel Hostache  Bobsleigh   123.0

In [106]:
#5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?

res = data[data.Name == 'Pawe Abratkiewicz']['Year'].drop_duplicates().count()
res

3

In [116]:
#6. How many silver medals in tennis did Australia win at the 2000 Olympics? 
res = data[data.Team == 'Australia'][data.Year == 2000][data.Medal == 'Silver'][data.Sport == 'Tennis']['Medal'].count()

res

C:\Users\pavel\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

2

In [145]:
#7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? 
# Do not consider NaN values in Medal column. *

switzerlandMedals = data[data.Year == 2016][data.Medal.notnull()][data.Team == 'Switzerland']['ID'].count()
serbiaMedals = data[data.Year == 2016][data.Medal.notnull()][data.Team == 'Serbia']['ID'].count()
switzerlandMedals < serbiaMedals

C:\Users\pavel\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
C:\Users\pavel\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

True

In [151]:
#9. Is it true that there were Summer Olympics held in Lake Placid? 
# Is it true that there were Winter Olympics held in Sankt Moritz? 

summOlympics = data[data.Season == 'Summer'][data.City == 'Lake Placid']['ID'].any()
winterOlympics = data[data.Season == 'Winter'][data.City == 'Sankt Moritz']['ID'].any()
summOlympics, winterOlympics

C:\Users\pavel\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
C:\Users\pavel\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

(False, True)

In [162]:
#10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?

import math
count1996Sports = data[data.Year == 1995]['Sport'].drop_duplicates().count()
count2016Sports = data[data.Year == 2016]['Sport'].drop_duplicates().count()
diff = count1996Sports - count2016Sports
count2016Sports, count1996Sports, diff

(34, 0, -34)

In [187]:
#8. What age category did the fewest and the most participants of the 2014 Olympics belong to? 
p = data[data.Year == 2014][['Age']]
res = p.groupby(pd.cut(p['Age'], [15,25,35,45,55])).count()
res

           Age
Age
(15, 25]  2412
(25, 35]  2281
(35, 45]   184
(45, 55]     4